.grid {
  display: inline-block;
  line-height: 0;
  border-collapse: collapse;
}

.cell {
  display: inline-block;
  height: 20px;
  width: 20px;

  border: 1px solid grey;
  background-color: white;
}

.cell.interactive:hover {
  filter: brightness(85%);
  cursor: pointer;
}